.navbar-brand
{
    
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fluid
{
    width:100%;
    height:50px;
    background-color:rgb(146, 84, 84);
}

.form-control 
{
    width:560px;
}